<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <!-- Commenting out these fields because an employer won't need these. -->

  <div class="form-group">
    <%= f.label :board_id %><br>
    <%= f.text_field :board_id, class: 'form-control' %>
  </div> 
  <div class="form-group">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :job_description %><br>
    <%= f.text_field :job_description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :job_location %><br>
    <%= f.text_field :job_location, id: 'geo-input', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :job_type %><br>
    <%= f.text_field :job_type, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :job_url %><br>
    <%= f.text_field :job_url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email, class: 'form-control' %>
  </div>
  <div class="btn-group">
    <button type="reset" class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
