<%= link_to listing_path(listing), class: 'list-group-item' do %>
  <h5 class="list-group-item-heading"><b><%= listing.job_title %></b></h5>
  <div class="row">
    <div class="col-md-5"><p class="list-group-item-text"><%= listing.company.try(:name) || "Unknown Company" %></p></div>
    <div class="col-md-5"><p><%= listing.job_location %></p></div>
    <div class="col-md-2"><p><%= listing.created_at.strftime("%B %d") %></p></div>
  </div>
<% end %>