<div class="jumbotron">
  <div class="container">
  	<h3><%= @board.name %> Jobs</h3>
  </div>
</div>

<p id="notice"><%= notice %></p>

<%= search_form_for @search do |f| %>
  <div class="field well">
    <%= f.label :job_title_or_job_description_cont, "Keywords: " %>
    <%= f.text_field :job_title_or_job_description_cont %>
    <%= f.submit "Search" %>
  </div>
<% end %>

<div class="panel panel-default">
  <% @listings.each do |listing| %>
    <%= render 'listing', listing: listing %>
  <% end %>
</div>

<br>
<div class="jobs-pagination col-sm-12">
		<%= will_paginate @jobs %>
</div>

<%= link_to 'New Listing', new_listing_path %>
