<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @listing.board.name %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @listing.employer.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @listing.company.name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @listing.job_title %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @listing.job_description %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @listing.job_location %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @listing.job_type %>
</p>

<p>
  <strong>Job url:</strong>
  <%= @listing.job_url %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @listing.contact_email %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
