<p id="notice"><%= notice %></p>

<div class="btn-group">
  <%= link_to 'Back', listings_path, class: 'btn btn-warning' %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-primary' %>
</div>
<p/>

<div class="panel panel-default">
  <div class="panel-heading"><h4><strong><%= @listing.job_title %></strong> <%= "@ #{@listing.company.name}" if @listing.company %></h4></div>
  <div class="panel-body row">
    <div class="col-md-2"><strong>Company</strong></div>
    <div class="col-md-10"><%= @listing.company.try(:name) %></div>
  </div>
  <div class="panel-body row">
    <div class="col-md-2"><strong>Job Description</strong></div>
    <div class="col-md-10"><%= @listing.job_description %></div>
  </div>
  <div class="panel-body row">
    <div class="col-md-2"><strong>Job Location</strong></div>
    <div class="col-md-10"><%= @listing.job_location %></div>
  </div>
  <div class="panel-body row">
    <div class="col-md-2"><strong>Job Type</strong></div>
    <div class="col-md-10"><%= @listing.job_type %></div>
  </div>
  <div class="panel-body row">
    <div class="col-md-2"><strong>Job URL</strong></div>
    <div class="col-md-10"><%= @listing.job_url %></div>
  </div>
  <div class="panel-body row">
    <div class="col-md-2"><strong>Contact Email</strong></div>
    <div class="col-md-10"><%= @listing.contact_email %></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Employer</strong></div>
  <div class="panel-body row">
    <div class="col-md-2"><strong>Contact Email</strong></div>
    <div class="col-md-10"><%= @listing.employer.try(:email) %></div>
  </div>
</div>

<div class="panel panel-default">
<div class="panel-heading"><strong>Company</strong></div>
  <div class="panel-body row">
    <div class="col-md-2"><strong>Name</strong></div>
    <div class="col-md-10"><%= @listing.company.try(:name) %></div>
  </div>
</div>
