<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company Name</th>
      <th>Title</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.id %></td>
        <td><%= listing.company.try(:name) %></td>
        <td><%= listing.job_title %></td>
        <td><%= listing.job_location %></td>
        <td><%= link_to 'Show', listing_path(listing) %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Delete', listing_path(listing), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table> 