<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @company.board %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @company.employer %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
