<%= render partial: 'employer_dashboard' %>

<div class="container">
	<div class="row">
		<%= form_for(@company) do |f| %>
              <% if @company.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

                  <ul>
                  <% @company.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

<!--               <div class="field">
                <%= f.label :board_id %><br>
                <%= f.text_field :board_id, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :employer_id %><br>
                <%= f.text_field :employer_id, class: 'form-control' %>
              </div> -->
              <div class="field">
                <%= f.label :name %><br>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :description %><br>
                <%= f.text_area :description, class: 'form-control' %>
              </div>
              <div class="field">
                <%= f.label :url %><br>
                <%= f.text_field :url, class: 'form-control' %>
              </div>
              <div class="field">
                <% if f.object.image.present? %>
                  <%= image_tag f.object.image_url %>
                <% end %>
                <%= f.label :image %><br>
                <%= f.hidden_field :image, value: f.object.cached_image_data %>
                <%= f.file_field :image %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>


            </div>
	</div>
</div>