<p id="notice"><%= notice %></p>

<h1><%= @board.name %> Board</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subdomain</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @board.name %></td>
        <td><%= @board.subdomain %></td>
        <td><%= @board.admin.email %></td>
        <td><%= link_to 'Edit', edit_admin_path(@board) %></td>
        <td><%= link_to 'Go to Board', listings_url(subdomain: @board.subdomain) %></td>
      </tr>
  </tbody>
</table>