<div class="jumbotron">
  <div class="container">
  	<h1><%= @board.name %> Job Board</h1>
  </div>
</div>
<div class="container">
	<% if admin_signed_in? %>
		<p>Logged in as <strong><%= current_admin.email %></strong></p>
		<ul class="nav nav-pills">
		  <li role="presentation"><%= link_to 'Companies', companies_path %></li>
		  <li role="presentation"><%= link_to 'Listings', listings_path %></li>
		  <li role="presentation"><%= link_to 'Edit Profile', edit_admin_registration_path %></li>
		  <li role="presentation"><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
		</ul>
	<% else %>
		<ul class="nav nav-pills">
		  <li role="presentation"><%= link_to 'Companies', companies_path %></li>
		  <li role="presentation"><%= link_to 'Listings', listings_path %></li>
		  <li role="presentation"><%= link_to 'Sign up', new_admin_registration_path %></li>
		  <li role="presentation"><%= link_to 'Login', new_admin_session_path %></li>
		</ul>
	<% end %>
</div>