<div class="jumbotron">
  <div class="container">
  	<h1><%= @board.name %> Job Board</h1>
  </div>
</div>
<div class="container">
	<% if user_signed_in? %>
		<p>Logged in as <strong><%= current_user.email %></strong></p>
		<ul class="nav nav-pills">
		  <li role="presentation"><%= link_to 'Companies', companies_path %></li>
		  <li role="presentation"><%= link_to 'Listings', listings_path %></li>
		  <li role="presentation"><%= link_to 'Post Jobs', new_listing_path %></li>
		  <li role="presentation"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
		  <li role="presentation"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
		</ul>
	<% else %>
		<ul class="nav nav-pills">
		  <li role="presentation"><%= link_to 'Companies', companies_path %></li>
		  <li role="presentation"><%= link_to 'Listings', listings_path %></li>
		  <!-- Send to packages route instead? -->
		  <li role="presentation"><%= link_to 'Post Jobs', new_listing_path %></li>
		  <li role="presentation"><%= link_to 'Sign up', new_user_registration_path %></li>
		  <li role="presentation"><%= link_to 'Login', new_user_session_path %></li>
		</ul>
	<% end %>
</div>