<!DOCTYPE html>
<html>
<head>
  <title>Jobboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'board_header' %>

<div class="container">
	<% if notice %>
		<div class="alert alert-info"><%= notice %></div>	
	<% end %>
	<% if alert %>
		<div class="alert alert-warning"><%= alert %></div>
	<% end %>

	<%= yield %>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNJ_aZ6Zk-P7azXbxypNRy5a0OKwr0A6k&callback=initMap"
  type="text/javascript"></script>
<script src="jquery.geocomplete.min.js"></script>

</body>
</html>
